body {
    background-image: url("/static/img/tom-barrett-hgGplX3PFBg-unsplash.jpg");
    background-color: #02141B; 
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color:#e78925;
}

.navbar {
    justify-content: space-around;
    background-color:#02141B;
}

.container {
    background-color: #352420;
    height: 100vh;
    overflow: auto; 
    color: white;
}

a:hover {
    color: #c57330;
}

p.flash-msg {
    color: white;
}

