<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      {% block title %}{% endblock %}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar">
      {% if "user_email" in session %}
      <a href="/user-homepage">Home</a>
      <a href="/schedule">Schedule</a>
      <a href="/checklist-start">Checklist</a>
      <a href="/account-preferences">Account Preferences</a>
      <a href="/logout">Log Out</a>
      {% else %}
      <a href="/">Home</a>
      <a href="/new-account">Create an Account</a>
      <a href="/login">Log In</a> 
      {% endif %}
    </nav>
    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
    {% endfor %}
    <div class="container">
      {% block body %}{% endblock %}
    </div>

    {% block after_body %}{% endblock %}
  </body>
</html>
