<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      {% block title %}{% endblock %}
    </title>

    {% block head %}{% endblock %}
  </head>
  <body>
    <nav>
      {% if "user_email" in session %}
      <a href="/user-homepage">Home</a>
      <a href="/logout">Log Out</a>
      {% else %}
      <a href="/new-account">Create an Account</a>
      <a href="/login">Log In</a> 
      {% endif %}
    </nav>
    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
    {% endfor %}

    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
  </body>
</html>
