{% extends 'base.html' %}
{% block title %}{{name}}'s Checklist For When Everything Feels Bad{% endblock %}

{% block body %}
<h1>So Everything Still Feels Bad?</h1>
    <h2>Here are a few more things to think about/try:</h2>
        <h3>Try taking a few deep breathes.</h3>
            <p>Being uncomfortable often makes us hold our breathe. Try breathing conciously for a few minutes.</p>
        <h3>If it's daytime and you haven't gotten dressed, try putting on some clothes.</h3>
            <p>Sometimes dressing up as though you feel better, can help make it so.</p>
            <h4>Relatedly, even if you are already dressed, you can consider changing into clothes that make you
                happier or doing something else that makes you happier with your appearance.</h4>
                <p>Sometimes it's a matter of faking it until you make it and appearance can be a big part of that.</p>
        <h3>If you work with a professional for this kind of feeling, now might be a good time to reach out to them.<br>
            If not there's always the option of reaching out to a crisis line.</h3>
                <p>The National Alliance on Mental Illness recommends: </p>
                <ul>
                    <li>National Suicide Prevention Lifeline - 800-273-8255</li>
                    <li>Crisis Text Line - Text NAMI to 741-741</li>
                    <li>National Domestic Violence Hotline - 800-799-7233</li>
                    <li>National Sexual Assault Hotline - 800-656-4673</li>
                </ul>
                <p>These are just a few of the resources that are available. A quick internet search will supply more, 
                    if you need them.</p>
        <h3>And if you figure out what's wrong about right now, 
            remember that you can always add another question to the checklist for next time.</h3>

<p>{{total}}/{{total}}</p>
{% endblock %}