{% extends 'base.html' %}
{% block title %}Create a Be Your Own Zookeeper Account{% endblock %}

{% block body %}
<h1>Create an Account!</h1>
<form action="/create-account" method="POST" class="new-account">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" required> <br>
    <label for="zipcode">Zipcode: </label>
    <input type="text" name="zipcode" id="zipcode" required> <br>
    <label for="email">Email: </label>
    <input type="email" name="email" id="email" required> <br>
    <label for="password">Password (8 characters minimum): </label>
    <input type="password" name="password" id="password" minlength="8" required>
    <input type="submit">
</form>

{% endblock %}