{% extends 'base.html' %}
{% block title %}Edit Checklist Item{% endblock %}
{% block body %} 
    <h1>Edit Checklist Item</h1>
    <form action="/edit-checklist-item/{{id}}" method="POST">
        <label for="question">Question:</label> <br>
        <input type="text" id="question" name="question" value="{{question}}" size="70" required> <br>
        <label for="advice" >Advice (if answer to Question is no):  </label> <br>
        <input type="text" id="advice" name="advice" value="{{advice}}" size="70" required><br>
        <select name="order" id="order">
            {% for order in range(1, count+1) %}
            {% if position == order %}
            <option value="{{order}}" selected>{{order}}</option>
            {% else %}
            <option value="{{order}}">{{order}}</option>
            {% endif %}
            {% endfor %}
        </select> <br>
        <input type="submit">
    </form>
{% endblock %}