{% extends 'base.html' %}
{% block title %}Be Your Own Zookeeper Home{% endblock %}

{%block body%}
<h1>Be Your Own Zookeeper</h1>
<h2>Is the weather good for walking?</h2>
<form action="/zip-form" class="get-weather">
    <label for="zipcode-field">Please enter your zipcode:</label>
    <input type="text" name="zipcode" id="zipcode-field"></input>
    <input type="submit">
</form>
<div class="anchors">
    <a href="/new-account">Want to customize your walking weather and more? Make an account!</a>
</div>
<div class="weather">
</div>
<div class="alternate">
</div>

{%endblock%}

{%block after_body%}<script type="module" src="/static/js/homepage.js"></script>
{% endblock %}