{% extends 'base.html' %}
{% block title %} {{name}}'s Be Your Own Zookeeper Home{% endblock %}

{%block body%}
<h1>Welcome to Be Your Own Zookeeper, {{name}}!</h1>
<h2>Is the weather good for walking?</h2>
<form action="/zip-form" class="get-weather">
    <label for="zipcode-field">Please enter your zipcode:</label>
    <input type="text" name="zipcode" id="zipcode-field" value="{{zipcode}}"></input>
    <input type="submit">
</form>
<div class="anchors">
    <a href="/weather-preferences">Set Weather Preferences</a>
    <a href="/alternate-activities">Edit Alternate Activities</a>
</div>
<div class="weather">
</div>
<div class="alternate">
</div>
{%endblock%}

{%block after_body%} <script type="module" src="/static/js/user_homepage.js"></script>
{% endblock %}